* {
  font-family: Avenir, sans-serif;
}

.container {
  max-width: 1000px;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: calc(100% / 2);
}

.nav-wrapper {
  padding-bottom: 20px;
  padding-top: 15px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logo-blue {
  width: 16%;
}

.nav-items {
  padding: 20px;
}

.btn {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 12px 20px;
  background-color: #092a50d8;
}

a {
  text-decoration: none;
  color: darkgray;
  font-size: 14px;
}

hr {
  width: 100%;
  position: absolute;
  background-color: rgb(226 225 225);
  border: none;
  height: 0.25px;
  margin-top: 0;
}

.hero {
  background-image: url("images/hero.jpg");
  background-size: cover;
  height: 500px;
  margin-top: 70px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.overlay {
  background: gray;
  opacity: 0.3;
  height: 100%;
}

.header {
  color: white;
  position: absolute;
  top: 81px;
  left: 64px;
  font-family: "Tiempos Headline", sans-serif;
  width: 45%;
  letter-spacing: 1px;
  font-weight: lighter;
}

.header-info {
  color: white;
  position: absolute;
  bottom: 120px;
  width: 51%;
  left: 64px;
  font-family: Avenir, sans-serif;
  word-spacing: 0.5px;
  line-height: 1.7;
  font-weight: lighter;
  font-size: 14px;
}

.get-started-button {
  position: absolute;
  left: 63px;
  bottom: 53px;
  padding: 13px 40px;
  font-size: 18px;
}

.background-lightgray {
  background-color: rgb(247 247 247 / 98.6%);
}

.text-align-center {
  text-align: center;
}

.clinicians-wrapper {
  margin-top: 40px;
  text-align: center;
  color: rgb(107 107 107);
  padding: 40px;
}

.clinicians-header {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.clincians-description {
  font-size: 13px;
  line-height: 1.5rem;
  margin-bottom: 40px;
}

h2 {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 100;
  color: rgb(107 107 107);
}

.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  padding-top: 20px;
  line-height: 2rem;
}

.card-left {
  padding-right: 50px;
}

.card-right {
  padding-left: 50px;
}

.more-information-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.more-information {
  font-size: 13px;
  color: rgb(107 107 107);
}

.more-information-header {
  font-size: 24px;
  padding-top: 10px;
}

.get-started-button-footer {
  padding: 13px 40px;
  font-size: 18px;
  position: relative;
  top: 35px;
}

.background-color-gray {
  background-color: rgb(85 83 83);
}

.logo-white {
  width: 25%;
  padding-bottom: 27px;
}

.address-deck {
  margin-left: 10%;
  margin-top: 15%;
  height: 250px;
}

.address {
  color: white;
  font-size: 12px;
  line-height: 8px;
}

.contact-deck {
  display: flex;
  line-height: 2rem;
  margin-top: 10%;
}

ul {
  padding: 0;
  list-style-type: none;
}

li > a {
  color: white;
}

.deck-right {
  margin-left: 30%;
}

.footer-wrapper {
  padding: 40px 30px;
}

.footer {
  padding: 20px;
  color: rgb(66 66 66);
  font-weight: bolder;
}
