body {
  font-family: 'Baloo Thambi 2', cursive, sans-serif;
  line-height: 1.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-family: 'Baloo Thambi 2', cursive;
  font-style: italic;
  font-weight: 100;
  font-size: 1.25em;
}

p {
  font-weight: bold;
}
